.textos1{
    font-weight: bold !important;
}

.img{
    
    background-image: url(https://uploads.spiritfanfiction.com/historias/capitulos/202103/naruto-house-20-21856157-100320210829.jpg);
    background-repeat: no-repeat;
    width: 100; 
    min-height: 100;
    background-size: cover;
    background-position: center;
    
}


.text-decorator-none{
    text-decoration: none;
}